@page
@model WebGame.Pages.AdventureModel
@{
}
<script>
    function ShowDel() {
        for (let b of document.getElementsByName('visDel')) {
            b.classList.toggle('invisibleDel');

        }
    }
    function ShowChs() {
        for (let b of document.getElementsByName('visChs')) {
            b.classList.toggle('invisibleDel');

        }
    }


</script>
<body class="GameBack">

    <div class="categ">
        
         
        


        <p>
            <strong>Выберите категорию</strong>
            <ul class="list1">

                <li class="li1"> <a style="color:black; text-decoration:none" href="Adventure">Adventure time</a></li>
                <li class="li1"><a style="color:black; text-decoration:none" href="game">Clash of clans</a></li>
                <li class="li1"><a style="color:black; text-decoration:none" href="OneP">One Piece</a></li>


            </ul>
        </p>
        <div>
            <button class="Button_Chs" type="button" onclick="ShowChs()">Выбрать</button>
            <div>
                <button class="Button_Chs" onclick="ShowDel()">Убрать</button>
            </div>
            <div>
                <a class="Button_Again" href="Adventure">Заново</a>
            </div>
        </div>
        <div class="Chose">
            Вы выбрали:
            <div>
                <a class="invisible1" id="Y1">Бананчик</a>
                <a class="invisible1" id="Y2">Бимо</a>
                <a class="invisible1" id="Y3">Бубль Гум</a>
                <a class="invisible1" id="Y4">Гантер</a>
                <a class="invisible1" id="Y5">Девочка Джейк</a>
                <a class="invisible1" id="Y6">Деревяшка</a>
                <a class="invisible1" id="Y7">Джейк</a>
                <a class="invisible1" id="Y8">Зло</a>
                <a class="invisible1" id="Y9">Ключник</a>
                <a class="invisible1" id="Y10">Конфетный Страж</a>
                <a class="invisible1" id="Y11">Ливнерог</a>
                <a class="invisible1" id="Y12">Лимон</a>
                <a class="invisible1" id="Y13">Лич</a>
                <a class="invisible1" id="Y14">Лягушачий Волшебник</a>
                <a class="invisible1" id="Y15">Маленькая Бубль Гум</a>
                <a class="invisible1" id="Y16">Марселин</a>
                <a class="invisible1" id="Y17">Маршал</a>
                <a class="invisible1" id="Y18">Мистер Свин</a>
                <a class="invisible1" id="Y19">Мятный Лакей</a>
                <a class="invisible1" id="Y20">Огненная Принцесса</a>
                <a class="invisible1" id="Y21">Принцесса Пупырка</a>
                <a class="invisible1" id="Y22">Снежный Король</a>
                <a class="invisible1" id="Y23">Старчи</a>
                <a class="invisible1" id="Y24">Улитка</a>
                <a class="invisible1" id="Y25">Фин</a>
            </div>
        </div>

    </div>
    <div class="phblock">

        <div id="1" class="Chosen ph1 ">

            <img src="~/img/Adventure Time/Бананчик.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('1').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y1').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>


        <div id="2" class="ph1">
            <img src="~/img/Adventure Time/Бимо.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('2').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y2').style.display = 'inline')(ShowChs())">Выбрать</div>

        </div>

        <div id="3" class="ph1">
            <img src="~/img/Adventure Time/Бубль Гум.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('3').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y3').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="4" class="ph1">
            <img src="~/img/Adventure Time/Гантер.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('4').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y4').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="5" class="ph1">
            <img src="~/img/Adventure Time/Девочка Джейк.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('5').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y5').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="6" class="ph1">
            <img src="~/img/Adventure Time/Деревяшка.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('6').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y6').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="7" class="ph1">
            <img src="~/img/Adventure Time/Джейк.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('7').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y7').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="8" class="ph1">
            <img src="~/img/Adventure Time/Зло.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('8').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y8').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="9" class="ph1">
            <img src="~/img/Adventure Time/Ключник.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('9').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y9').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="10" class="ph1">
            <img src="~/img/Adventure Time/Конфетный Страж.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('10').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y10').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="11" class="ph1">
            <img src="~/img/Adventure Time/Ливнерог.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('11').style.display='none')">Убрать</div>
            <div id="X" name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y11').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="12" class="ph1">
            <img src="~/img/Adventure Time/Лимон.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('12').style.display='none')">Убрать</div>
            <div id="X" name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y12').style.display = 'inline') (ShowChs())">Выбрать</div>
        </div>
        <div id="13" class="ph1">
            <img src="~/img/Adventure Time/Лич.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('13').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y13').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="14" class="ph1">
            <img src="~/img/Adventure Time/Лягушачий Волшебник.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('14').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y14').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="15" class="ph1">
            <img src="~/img/Adventure Time/Маленькая Бубль ГУм.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('15').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y15').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="16" class="ph1">
            <img src="~/img/Adventure Time/Марселин.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('16').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y16').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="17" class="ph1">
            <img src="~/img/Adventure Time/Маршал.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('17').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y17').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="18" class="ph1">
            <img src="~/img/Adventure Time/Мистер свин.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('18').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y18').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="19" class="ph1">
            <img src="~/img/Adventure Time/Мятный лакей.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('19').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y19').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="20" class="ph1">
            <img src="~/img/Adventure Time/Огненная принцесса.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('20').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y20').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="21" class="ph1">
            <img src="~/img/Adventure Time/Пупырка.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('21').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y21').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="22" class="ph1">
            <img src="~/img/Adventure Time/Снежный Король.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('22').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y22').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="23" class="ph1">
            <img src="~/img/Adventure Time/Старчи.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('23').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y23').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="24" class="ph1">
            <img src="~/img/Adventure Time/Улитка.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('24').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y24').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="25" class="ph1">
            <img src="~/img/Adventure Time/Финн.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('25').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y25').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
    </div>


</body>
