@page
@model WebGame.Pages.gameModel
@{
}
<script>
    function ShowDel() {
        for (let b of document.getElementsByName('visDel')) {
            b.classList.toggle('invisibleDel');

        }
    }
    function ShowChs() {
        for (let b of document.getElementsByName('visChs')) {
            b.classList.toggle('invisibleDel');

        }
    }
   

</script>
<body class="GameBack">

    <div class="categ">

       
     
            <p>
                <strong>Выберите категорию</strong>
                <ul class="list1">

                    <li class="li1"> <a style="color:black; text-decoration:none" href="Adventure">Adventure time</a></li>
                    <li class="li1"><a style="color:black; text-decoration:none" href="game">Clash of clans</a></li>
                    <li class="li1"><a style="color:black; text-decoration:none" href="OneP">One Piece</a></li>


                </ul>
            </p>
            <div>
                <button class="Button_Chs" type="button" onclick="ShowChs()">Выбрать</button>
                <div>
                    <button class="Button_Chs" onclick="ShowDel()">Убрать</button>
                </div>
                <div>
                    <a class="Button_Again" href="game">Заново</a>
                </div>
            </div>
            <div class="Chose">
                Вы выбрали:
                <div>
                    <a class="invisible1" id="Y1">Гончая</a>
                    <a class="invisible1" id="Y2">Валькирия</a>
                    <a class="invisible1" id="Y3">Варвар</a>
                    <a class="invisible1" id="Y4">Ведьма</a>
                    <a class="invisible1" id="Y5">Вышибала</a>
                    <a class="invisible1" id="Y6">Герой</a>
                    <a class="invisible1" id="Y7">Гигант</a>
                    <a class="invisible1" id="Y8">Гоблин</a>
                    <a class="invisible1" id="Y9">Голем</a>
                    <a class="invisible1" id="Y10">Дракон</a>
                    <a class="invisible1" id="Y11">Дракончик</a>
                    <a class="invisible1" id="Y12">Йети</a>
                    <a class="invisible1" id="Y13">Королева лучниц</a>
                    <a class="invisible1" id="Y14">Король варваров</a>
                    <a class="invisible1" id="Y15">Лучница</a>
                    <a class="invisible1" id="Y16">Шахтер</a>
                    <a class="invisible1" id="Y17">Маг</a>
                    <a class="invisible1" id="Y18">Миньон</a>
                    <a class="invisible1" id="Y19">П.Е.К.К.А.</a>
                    <a class="invisible1" id="Y20">Стенобой</a>
                    <a class="invisible1" id="Y21">Хог</a>
                    <a class="invisible1" id="Y22">Хранитель</a>
                    <a class="invisible1" id="Y23">Целитель</a>
                    <a class="invisible1" id="Y24">Шар</a>
                    <a class="invisible1" id="Y25">Электро Дракон</a>
                </div>
            </div>
        
    </div>
    <div class="phblock">

        <div id="1" class="Chosen ph1 ">
            
            <img src="~/img/гончая.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('1').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y1').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>


        <div id="2" class="ph1" >
            <img src="~/img/валькирия.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('2').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y2').style.display = 'inline')(ShowChs())">Выбрать</div>

        </div>
       
        <div id="3" class="ph1">
            <img src="~/img/varvar.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('3').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y3').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="4" class="ph1">
            <img src="~/img/Ведьма.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('4').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y4').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="5" class="ph1">
            <img src="~/img/Вышибала.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('5').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y5').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="6" class="ph1">
            <img src="~/img/Герой.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('6').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y6').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="7" class="ph1">
            <img src="~/img/гигант.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('7').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y7').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="8" class="ph1">
            <img src="~/img/гоблин.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('8').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y8').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="9" class="ph1">
            <img src="~/img/голем.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('9').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y9').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="10" class="ph1">
            <img src="~/img/дракон.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('10').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y10').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="11" class="ph1">
            <img src="~/img/дракончие.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('11').style.display='none')">Убрать</div>
            <div id="X" name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y11').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="12" class="ph1">
            <img src="~/img/Йети.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('12').style.display='none')">Убрать</div>
            <div id="X" name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y12').style.display = 'inline') (ShowChs())">Выбрать</div>
        </div>
        <div id="13" class="ph1">
            <img src="~/img/королева лучниц.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('13').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y13').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="14" class="ph1">
            <img src="~/img/король варваров.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('14').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y14').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="15" class="ph1">
            <img src="~/img/лучница.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('15').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y15').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="16" class="ph1">
            <img src="~/img/шахтер.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('16').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y16').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="17" class="ph1">
            <img src="~/img/маг.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('17').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y17').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="18" class="ph1">
            <img src="~/img/миньон.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('18').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y18').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="19" class="ph1">
            <img src="~/img/ПЕККА.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('19').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y19').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="20" class="ph1">
            <img src="~/img/стенобой.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('20').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y20').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="21" class="ph1">
            <img src="~/img/хог.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('21').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y21').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="22" class="ph1">
            <img src="~/img/хранитель.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('22').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y22').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="23" class="ph1">
            <img src="~/img/Целительница.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('23').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y23').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="24" class="ph1">
            <img src="~/img/шар.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('24').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y24').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="25" class="ph1">
            <img src="~/img/эд драго.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('25').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y25').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
    </div>


</body>
