@page
@model WebGame.Pages.OnePModel
@{
}
<script>
    function ShowDel() {
        for (let b of document.getElementsByName('visDel')) {
            b.classList.toggle('invisibleDel');

        }
    }
    function ShowChs() {
        for (let b of document.getElementsByName('visChs')) {
            b.classList.toggle('invisibleDel');

        }
    }


</script>
<body class="GameBack">

    <div class="categ">





        <p>
            <strong>Выберите категорию</strong>
            <ul class="list1">

                <li class="li1"><a style="color:black; text-decoration:none" href="Adventure">Adventure time</a></li>
                <li class="li1"><a style="color:black; text-decoration:none" href="game">Clash of clans</a></li>
                <li class="li1"><a style="color:black; text-decoration:none" href="OneP">One Piece</a></li>


            </ul>
        </p>
        <div>
            <button class="Button_Chs" type="button" onclick="ShowChs()">Выбрать</button>
            <div>
                <button class="Button_Chs" onclick="ShowDel()">Убрать</button>
            </div>
            <div>
                <a class="Button_Again" href="OneP">Заново</a>
            </div>
        </div>
        <div class="Chose">
            Вы выбрали:
            <div>
                <a class="invisible1" id="Y1">Бог Энель</a>
                <a class="invisible1" id="Y2">Бонни</a>
                <a class="invisible1" id="Y3">Борсалино</a>
                <a class="invisible1" id="Y4">Брук</a>
                <a class="invisible1" id="Y5">Виви</a>
                <a class="invisible1" id="Y6">Зорро</a>
                <a class="invisible1" id="Y7">Иванков</a>
                <a class="invisible1" id="Y8">Кид</a>
                <a class="invisible1" id="Y9">Луффи</a>
                <a class="invisible1" id="Y10">Марко</a>
                <a class="invisible1" id="Y11">Нами</a>
                <a class="invisible1" id="Y12">Панда</a>
                <a class="invisible1" id="Y13">Роббин</a>
                <a class="invisible1" id="Y14">Роджер</a>
                <a class="invisible1" id="Y15">Сабо</a>
                <a class="invisible1" id="Y16">Санжи</a>
                <a class="invisible1" id="Y17">Смокер</a>
                <a class="invisible1" id="Y18">Соколиный Глаз</a>
                <a class="invisible1" id="Y19">Трофольгар Ло</a>
                <a class="invisible1" id="Y20">Усопп</a>
                <a class="invisible1" id="Y21">Френки</a>
                <a class="invisible1" id="Y22">Хенкок</a>
                <a class="invisible1" id="Y23">Чоппер</a>
                <a class="invisible1" id="Y24">Шанкс</a>
                <a class="invisible1" id="Y25">Эйс</a>
            </div>
        </div>

    </div>
    <div class="phblock">

        <div id="1" class="Chosen ph1 ">

            <img src="~/img/One Piace/Бог.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('1').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y1').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>


        <div id="2" class="ph1">
            <img src="~/img/One Piace/бонни.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('2').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y2').style.display = 'inline')(ShowChs())">Выбрать</div>

        </div>

        <div id="3" class="ph1">
            <img src="~/img/One Piace/Борсалино.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('3').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y3').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="4" class="ph1">
            <img src="~/img/One Piace/Брук.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('4').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y4').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="5" class="ph1">
            <img src="~/img/One Piace/Виви.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('5').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y5').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="6" class="ph1">
            <img src="~/img/One Piace/Зорро.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('6').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y6').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="7" class="ph1">
            <img src="~/img/One Piace/Иванков.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('7').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y7').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="8" class="ph1">
            <img src="~/img/One Piace/Кид.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('8').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y8').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="9" class="ph1">
            <img src="~/img/One Piace/Луффи.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('9').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y9').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="10" class="ph1">
            <img src="~/img/One Piace/Марко.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('10').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y10').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="11" class="ph1">
            <img src="~/img/One Piace/НАми.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('11').style.display='none')">Убрать</div>
            <div id="X" name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y11').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="12" class="ph1">
            <img src="~/img/One Piace/Панда.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('12').style.display='none')">Убрать</div>
            <div id="X" name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y12').style.display = 'inline') (ShowChs())">Выбрать</div>
        </div>
        <div id="13" class="ph1">
            <img src="~/img/One Piace/Роббин.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('13').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y13').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="14" class="ph1">
            <img src="~/img/One Piace/Роджер.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('14').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y14').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="15" class="ph1">
            <img src="~/img/One Piace/Сабо.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('15').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y15').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="16" class="ph1">
            <img src="~/img/One Piace/Санжи.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('16').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y16').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="17" class="ph1">
            <img src="~/img/One Piace/Смокер.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('17').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y17').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="18" class="ph1">
            <img src="~/img/One Piace/Соколиный глаз.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('18').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y18').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="19" class="ph1">
            <img src="~/img/One Piace/Трофольгар Ло.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('19').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y19').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="20" class="ph1">
            <img src="~/img/One Piace/Усопп.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('20').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y20').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="21" class="ph1">
            <img src="~/img/One Piace/френки.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('21').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y21').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="22" class="ph1">
            <img src="~/img/One Piace/Хенкок.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('22').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y22').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="23" class="ph1">
            <img src="~/img/One Piace/Чоппер.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('23').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y23').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="24" class="ph1">
            <img src="~/img/One Piace/Шанкс.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('24').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y24').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
        <div id="25" class="ph1">
            <img src="~/img/One Piace/Эйс.jpg">
            <div name="visDel" class="chs invisibleDel" onclick="(document.getElementById('25').style.display='none')">Убрать</div>
            <div name="visChs" class="invisibleDel chs" onclick="(document.getElementById('Y25').style.display = 'inline')(ShowChs())">Выбрать</div>
        </div>
    </div>


</body>